body {
  font-family: Georgia, serif;
  background-image: url(/underwater.jpg);
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  /* font-size: 1rem;*/
  width: 99.09px;
}

#navbar ul {
  padding: 10px 0px;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-around;
}

#navbar li {
  background-color: rgb(20, 124, 116);
  padding: 3%;
  margin: 2%;
  border-radius: 15px;
  border: 4px;
  box-shadow: 0 0 5px 5px rgb(5, 44, 38);
  text-shadow: 1px 1px 5px black;
}
/* Change the color of links on hover */
#navbar a:hover {
  background-color: #ddd;
  border-radius: 12px;
  color: black;
  transition: 1s ease all;
}

/* Add an active class to highlight the current page */
#navbar a.active {
  background-color: #04aa6d;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
#navbar .icon {
  display: none;
}
#intro {
  font-size: 5vw;
}
#intro a {
  color: greenyellow;
}

figure {
  margin: 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
#me {
  display: block;
  width: 60%;
  opacity: 60%;
  border-radius: 10px 10px;
  transform: rotateY(180deg);
}
h1 {
  font-size: 6vw;
  text-align: center;
}

@media only screen and (min-width: 700px) {
  body {
    background-size: cover;
    font-size: large;
  }

  h1 {
    font-size: 2em;
  }
  #intro {
    display: block;
    margin-left: 25%;
    width: 50%;
    font-size: large;
  }
  #me {
    width: 20%;
  }
  #navbar ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 350px) {
  #navbar ul {
    padding-left: -8px;
    flex-flow: row wrap;
    align-items: stretch;
  }
  #navbar a {
    font-size: 15px;
  }
  #me {
    width: 90%;
  }
}
